html,body{
	margin:0;
	background:#d8d8d8;
}
a{
	text-decoration: none;
}
.form-container{
	position:relative;
	width:400px;
	margin:0 auto;
	padding:40px;
	background:white;
}

input{
	padding:20px;
	width:100%;
	font-size:1em;
	box-sizing:border-box;
	outline:none;
}

.instagram-users{
	position:absolute;
	width:400px;
	background:white;
	margin:0;
	padding:0;
	font-size:0;
	list-style:none;
	border-left:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
}
.instagram-users li{
	font-size:12px;
	color:#acaeb0;
	border-bottom:1px solid #d8d8d8;
	
}
.instagram-users li:hover{
	cursor:pointer;
	cursor:hand;
	background:whitesmoke;
}
.instagram-users li a{
	display: inline-block;
	width:100%;
	color:#acaeb0;
	padding:20px;
	box-sizing:border-box;
}
.instagram-users .profile-photo{
	height:30px;
	vertical-align: middle;
	margin-right:10px;
	border-radius:100%;
}
